<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isShowPageStart">
  <div class="container">
    <div class="img-start">
      <img style="width: 100%;display: block;" src="../../assets/img/img-start.jpg" alt="">
    </div>
    <h4 style="margin-bottom: 32px;" class="heading4 text-center">Hey Just A Moment, We Have Something Interesting For You</h4>
    <ion-button (click)="GoPageChoice()" expand="block" style="margin-bottom: 18px;">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      Let’s go
    </ion-button>
    <ion-button (click)="GoPageHome()" expand="block" style="--background: #FEFEFF;color: #ED1173;">
      <ion-icon style="color: #ED1173;" slot="start" name="close-circle-outline"></ion-icon>
      Skip
    </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="isShowPageChoice">
  <div class="main-container-app">
    <swiper-container pagination="true">
      <swiper-slide>
        <div class="container">
          <h1>Your Favorite Genre</h1>
          <div class="content-container">
            <div class="gird-4">
              <div *ngFor="let v of cards; let i = index">
                <div class="cards" [class.choice]="isSelected[i]" (click)="AddClass(i)">
                  <div class="img-card" [style.background-image]="'url(' + v.img + ')'"></div>
                  <div class="title-card">{{v.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="container">
          <h1>Your Favourite Artist</h1>
          <div class="content-container">
            <div class="gird-4">
              <div *ngFor="let v of cards; let i = index">
                <div class="cards" [class.choice]="isSelected[i]" (click)="AddClass(i)">
                  <div class="img-card" [style.background-image]="'url(' + v.img + ')'"></div>
                  <div class="title-card">{{v.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="container">
          <h1>Your Favourite Album</h1>
          <div class="content-container">
            <div class="gird-4">
              <div *ngFor="let v of cards; let i = index">
                <div class="cards" [class.choice]="isSelected[i]" (click)="AddClass(i)">
                  <div class="img-card" [style.background-image]="'url(' + v.img + ')'"></div>
                  <div class="title-card">{{v.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="gird-2 ">
      <ion-button class="swiper-button-prev" (click)="Prevslide()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
      <ion-button class="swiper-button-next" (click)="Nextslide()">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        Next
      </ion-button>
    </div>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen=!isModalOpen">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>