<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h4>Good Morning, Naomi</h4>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <swiper-container slides-per-view="4" space-between="8">
      <swiper-slide *ngFor="let value of uniqeuGenre">
        <ion-button style="--background:#FEFEFF;--background-activated:#ED1173;--border-width:1px;--border-style:solid;--border-color:#ED1173;--color:#ED1173;--color-activated:#FEFEFF" expand="block" class="generButton">
          {{value}}
        </ion-button>
      </swiper-slide>
    </swiper-container>

    <div class="gird-2">
      <div *ngFor="let i of playLists">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{i}}</ion-label>
        </ion-item>
      </div>
    </div>
    <h4>Your Programs</h4>
    <swiper-container slides-per-view="2" space-between="8">
      <swiper-slide *ngFor="let v of cardsMusic">
        <div class="cards">
          <div class="img-card">
            <img style="border-radius: 8px;" [src]="v.imgsong" alt="">
          </div>
          <!-- <div class="img-card" [style.background-image]="'url(' + v.imgsong + ')'"></div> -->
          <div class="sub-title-card">{{v.namesong}}</div>
          <div class="title-card">{{v.genre}}</div>
        </div>
      </swiper-slide>
    </swiper-container>
    <h4>New Release</h4>
    <div class="playlist" *ngFor="let v of cardsPlaylist">
      <div class="box-playlist">
        <div class="box-playlist-left">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" [src]="v.imgsong" />
          </ion-thumbnail>
          <div class="">
            <p class="Subtitle2" >{{v.namesong}}</p>
            <p class="Caption" >{{v.genre}}</p>
          </div>
        </div>
        <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>