<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h4>Good Morning, Naomi</h4>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <swiper-container slides-per-view="4" space-between="8">
      <swiper-slide *ngFor="let value of uniqeuGenreMusic">
        <ion-button expand="block" class="generButton">
          {{value}}
        </ion-button>
      </swiper-slide>
    </swiper-container>

    <div class="gird-2" >
      <div *ngFor="let i of playLists">
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>{{i}}</ion-label>
        </ion-item>
      </div>
    </div>
    <h4>Your Programs</h4>
    <swiper-container slides-per-view="2" space-between="8">
      <swiper-slide *ngFor="let v of cardsMusic">
        <div class="cards">
          <div class="img-card">
            <img style="border-radius: 8px;" [src]="v.imgsong" alt="">
          </div>
          <!-- <div class="img-card" [style.background-image]="'url(' + v.imgsong + ')'"></div> -->
          <div class="sub-title-card">{{v.namesong}}</div>
          <div class="title-card">{{v.genre}}</div>
        </div>
      </swiper-slide>
    </swiper-container>
    <h4>New Release</h4>
    <div class="playlist">
      <ion-fab slot="fixed"  horizontal="end" [edge]="true">
        <ion-fab-button>
          <ion-icon name="chevron-down-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button>
            <ion-icon name="document"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="color-palette"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="globe"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
</ion-content>