
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h4 >Good Morning, Naomi</h4>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="gird" >
      <div class=" " *ngFor="let i of imgAlbums">
        <img [src]="i" alt="">
      </div>
    </div>
  </div>
</ion-content>
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="discover">
      <ion-icon name="compass-outline"></ion-icon>
      Discover
    </ion-tab-button>
    <ion-tab-button tab="register">
      <ion-icon name="timer-outline"></ion-icon>
      Recently
    </ion-tab-button>
    <ion-tab-button tab="playlist">
      <ion-icon name="list-outline"></ion-icon>
      Playlists
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
