.gird-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
}

.gird-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.gird-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
}

.container {
    padding-left: 14px;
    padding-right: 14px;
}

ion-button {
    --background: #ED1173;
}

.choice{
    background: #9988CB;
    border-radius: 8px;
}
.main-container-app{
    background: url(../assets/img/background-app.jpg) no-repeat center/cover;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 46px;
}
