.gird-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
}

.gird-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.gird-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
}

.container {
    padding-left: 14px;
    padding-right: 14px;
}

ion-button {
    --background: #ED1173;
}

.choice{
    background: #9988CB;
    border-radius: 8px;
}
.main-container-app{
    background: url(../assets/img/background-app.jpg) no-repeat center/cover;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 46px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    padding: 12px;

    .img-card {
        width: 3.75rem;
        height: 5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title-card {
        text-align: center;
        font-size: 0.625rem;
        height: 20px;
    }
}