.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    padding: 12px;
  
    .img-card {
        width: 3.75rem;
        height: 5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  
    .title-card {
        text-align: center;
        font-size: 0.625rem;
        height: 20px;
    }
  }
  .box-categori{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-cate{
    width: 50%;
    border-radius: 8px;
  }